:root {
  /*================couleurs=============================*/
  --color-bg: #18181b;
  --color-bg-dark: #0e0e10;
  --color-bg-alt: #1f1f23;
  --color-purple: #9147ff;
  --color-purple-light: #a970ff;
  --color-purple-dark: #5c16c5;
  --color-purple-alt: #772ce8;
  --color-text: #efeff1;
  --color-text-alt: #dedee3;
  --color-text-link: #bf94ff;
  --color-text-link-hover: #a970ff;
  --color-line: (var(--color-text-alt));
  --color-background-button-primary-default: var(--color-purple);
  --color-background-button-primary-hover: var(--color-purple-alt);
  --color-background-button-primary-active: var(--color-purple-dark);
  /*================style/autre==========================*/
  --card-height: 408px;
  --card-width: calc(var(--card-height) / 1.5);

}

/*Il sélectionne tous les éléments du document et leur applique les styles spécifiés*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/*`@font-face` est utilisée pour définir les polices personnalisées à utiliser sur une page Web*/
@font-face {
  font-family: 'Poppins';
  src: url(/Commerce/font/Poppins/Poppins-Bold.ttf);
}

body {
  font-family: "Poppins";
  background-color: var(--color-bg);
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

/*=================================== DEBUT HEADER =================*/
.gradient-line:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -75px;
  height: 75px;
  filter: blur(30px);
  -webkit-filter: blur(30px);
  background-image: conic-gradient(from 180deg at 50% 100%, transparent 0, transparent 27%, #9400d3 27%, #8a2be2 36.04%, #4b0082 58.23%, #0e0e10 63%, #9400d3 73%, transparent 73%, transparent 100%);
  animation: hueRotate 2.5s linear infinite;
}

.header {
  height: 100vh;
  width: 100vw;
  background-image: url('/Commerce/img/redd-f-3mWxKnqET3E-unsplash.jpg');
  background-size: cover;
  background-position: center;
  /* Centrer l'image */
}

.navbar {
  position: absolute;
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-bg-dark);
}

.navbar a {
  color: var(--color-text);
}

.navbar .logo {
  font-size: 2em;
  font-weight: bold;
  margin-right: auto;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 25px;
  font-size: 1.2em;
}

.navbar .nav-links ul li.active a {
  /*mettre une belle couleur*/
  color: var(--color-purple);
  font-weight: 600;
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 35px;
}

#toggleChecker {
  display: none;
}

/*=================================== FIN HEADER ==================*/
/*=================================== DEBUT CAROUSEL ==============*/
main {
  width: 100%;
  height: 800px;
  /*background: red;*/
  margin: 10px auto;
  position: relative;
  padding: 5px 0;
}

main .text {
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

.text h1 {
  font-size: 50px;
}

main header h1 {
  color: var(--color-text-link);
}

.text p {
  width: 60%;
  padding: 5px;
  margin: auto;
  line-height: 30px;
}

main header {
  width: 98%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  position: relative;
  /* Ajout de position relative */
}

main header::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(to right, transparent, var(--color-purple-dark), transparent);
  z-index: 1;
}


header p span {
  /*les fleches*/
  font-size: 40px;
  margin: 0 5px;
  cursor: pointer;
  color: var(--color-text-link);
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 19px;
  text-align: center;
  border-radius: 3px;
}

header p span:hover {
  color: var(--color-text-link-hover);
}

section .product::before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 22px;
  /* Pour compenser le décalage */
  z-index: -1;
  background: linear-gradient(var(--rotate), var(--color-purple-dark), var(--color-purple-alt) 43%, var(--color-bg-dark));
  animation: spin 5s linear infinite;
}


@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

section {
  /*fond carte */
  width: 98%;
  height: 600px;
  /* background: red; */
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

section::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(to right, transparent, var(--color-purple-dark), transparent);
  z-index: 1;
}

section::-webkit-scrollbar {
  display: none;
}

section .product {
  /*carte*/
  min-width: 24%;
  height: 90%;
  background: var(--color-bg-dark);
  margin: 0 20px 0 0;
  border-radius: 20px;
  /* border: 2px solid var(--color-purple-dark); */
  position: relative;
  left: 0;
  transition: 0.5s;


}

section .product:hover {
  background-color: var(--color-bg-alt);


}

picture {
  width: 100%;
  height: 70%;
  padding: 20px;
  /*background: green;*/
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}

picture img {
  width: 100%;
}

.detail,
.button {
  /*bas de la carte*/
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: var(--color-purple-light);
}

small {
  color: var(--color-purple-light);
}

/*sous nom*/
.cart {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-purple-light);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  -webkit-transition: background-color 0.5s ease-out;
}

.cart:hover {
  background-color: var(--color-purple);
}

p.star {
  /*les étoiles*/
  margin: 5px;
  width: 100%;
  font-size: 25px;
  color: var(--color-purple-light);
}


/*=================================== FIN CAROUSEL ================*/
/*==================================== DEBUT CARD =================*/
:root {
  --card-height: 408px;
  --card-width: calc(var(--card-height) / 1.5);
}

.card__container {
  height: auto;
  width: 100vw;
  padding: auto;
  display: flex;
  justify-content: space-around;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 18px;
  perspective: 2500px;
  margin-top: 100px;
  margin-bottom: 100px;

}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 300px;
  z-index: -1;
}

.card:hover .wrapper {
  display: none;
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);

}


.wrapper::before .wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}

.title {
  margin: -18px auto;
  width: 180%;
  transition: transform 0.5s;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}


.card:hover {
  color: rgb(87, 66, 145);
  transition: color 1s;
}



.card::before {
  content: "";
  width: 102%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #A117F2, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -1%;
  animation: spin 3.2s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}


.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -10%, 100px);
}

/*==================================== FIN CARD ====================*/
/*=========================================== DÉBUT FORM ===============================================*/
.form-body {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 35px;
  margin-right: 80px;
  background: linear-gradient(var(--color-bg-alt), var(--color-bg-alt)) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  color: white;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--color-text);
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 0px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: var(--color-bg);
  border: 1px solid var(--color-purple);
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 0px;
  border-radius: 8px;
  resize: none;
  color: var(--color-text);
  height: 96px;
  border: 1px solid var(--color-purple);
  background-color: var(--color-bg);
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: auto;
  width: 100%;
  box-sizing: border-box;
  border: solid 1.5px #e8e8e8;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  border: solid 1.5px var(--color-purple);
  background-color: var(--color-bg);
  color: var(--color-text-link);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-container .form-submit-btn:hover {
  background-color: var(--color-text-link);
  border-color: var(--color-purple);
  color: var(--color-bg);
}

/*=========================================== FIN FORM ================================================+*/
/* ========================================== DÉBUT FOOTER ============================================== */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  color: var(--color-text);

}

.top-container {
  justify-content: start;
}

/* =========================================== FIN FOOTER =============================================== */
/*
=====================================================================
========================= FORMAT TELEPHONE ==========================
=====================================================================
*/
@media screen and (max-width: 900px) {

  /*============== HEADER ============*/
  .navbar {
    padding: 0;
  }

  .navbar .logo {
    position: absolute;
    top: 40px;
    left: 50px;
  }

  .navbar .menu-hamburger {
    display: block;
  }

  .nav-links {
    top: 0;
    left: 0;
    /* Position it at the top left for mobile devices */
    position: fixed;
    background-color: rgba(14, 14, 16, 0.75);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  body.mobile-menu {
    overflow: hidden;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }

  .checkboxtoggler {
    width: 3em;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    cursor: pointer;
  }

  .line-1 {
    background: var(--color-text-alt);
    height: 0.3em;
    border-radius: 10em;
    transition-duration: 500ms;
  }

  .line-2 {
    background: var(--color-text-alt);
    height: 0.3em;
    border-radius: 10em;
    transition-duration: 500ms;
  }

  .line-3 {
    background: var(--color-text-alt);
    height: 0.3em;
    border-radius: 10em;
    transition-duration: 500ms;
  }

  #toggleChecker {
    height: 3em;
    width: 100%;
    display: none;
  }

  #toggleChecker:checked+#togglerLable .checkboxtoggler .line-1 {
    -webkit-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
    -ms-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
    transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
  }

  #toggleChecker:checked+#togglerLable .checkboxtoggler .line-2 {
    -webkit-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
    -ms-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
    transform: rotate(-45deg) translateY(0em) translateX(0.1em);
  }

  #toggleChecker:checked+#togglerLable .checkboxtoggler .line-3 {
    transform: scaleX(0);
    transform-origin: left;
  }

  /*============ FIN HEADER ==========*/
  /*============= CAROUSEL ===========*/
  .text h1 {
    font-size: 35px;
  }

  .text p {
    width: 90%;
  }

  header h1 {
    font-size: 25px;
  }

  header p span {
    font-size: 30px;
  }

  section .product {
    min-width: 49%;
    margin: 0 10px 0 0;
  }

  .detail,
  .button {
    font-size: 16px;
  }

  /*=========== FIN CAROUSEL =========*/
  /*============== CARTES ============*/
  .card__container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 20px;
  }

  /*============ FIN CARTES ==========*/
}